---
layout: framework
banner:
banner_html: post-header.html
hidden: []
sidebar:
  - article-menu
---

<style>
@media (max-width: 1024px) {
  .post .page-banner .page-banner-inner {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding-top: 20px !important;
    display: flex !important;
    height: 100% !important;
    text-align: center !important;
  }
  
  .post {
    padding: 0 5px !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  
  .post .post-header {
    padding: 0 5px 24px !important;
    margin: 20px 0 24px !important;
    max-width: 100% !important;
  }
  
  .post .post-content {
    padding: 0 5px !important;
    margin: 0 0 30px !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}
</style>

<div class="post">
  <section>

    {%- assign name = 'banner' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign banner = return -%}

    {%- assign name = 'hidden' -%}
    {%- include functions.html func='get_value' -%}
    {%- assign hidden = return -%}

    {%- assign result = hidden | where_exp: "item", "item == 'header'" -%}
    {%- if banner == nil and result.size == 0 -%}
    {%- include views/post-header.html -%}
    {%- endif -%}

    {%- include views/article.html -%}

    {%- assign result = hidden | where_exp: "item", "item == 'navigator'" -%}
    {%- if result.size == 0 -%}
    <div class="post-nav">
      {%- if page.previous -%}
        <a class="previous"
          href="{{ page.previous.url | relative_url }}"
          title="{{ page.previous.title | escape }}">
          <div>{{ page.previous.title | escape }}</div>
        </a>
      {%- else -%}
      <span></span>
      {%- endif -%}

      {%- if page.next -%}
        <a class="next"
          href="{{ page.next.url | relative_url }}"
          title="{{ page.next.title | escape }}">
          <div>{{ page.next.title | escape }}</div>
        </a>
      {%- else -%}
      <span></span>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'related_posts'" -%}
    {%- if result.size == 0 -%}
    <div class="post-related">
      <div>Related Articles</div>
      <ul>
        {% assign posts = site[page.collection] | sample:4 %}
        {%- for post in posts -%}
          {%- assign post_item_class = "" -%}
          {%- if post.top -%}
            {%- assign post_item_class = "top-post" -%}
          {%- endif -%}
        <li class="{{ post_item_class }}">
          <a class="post-link"
            href="{{ post.url | relative_url }}"
            title="{{ post.title | escape }}">
            {{ post.title | escape | truncatewords: 12 }}
            {%- include views/post-badges.html -%}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

    {%- assign result = hidden | where_exp: "item", "item == 'comments'" -%}
    {%- if result.size == 0 -%}
    <div class="post-comments">
      {%- if page.comments != false -%}

      {%- if site.disqus.shortname -%}
      {%- include extensions/comments/disqus.html -%}
      {%- endif -%}

      {%- if site.gitment.username -%}
      {%- include extensions/comments/gitment.html -%}
      {%- endif -%}

      {%- if site.utterances.repo -%}
      {%- include extensions/comments/utterances.html -%}
      {%- endif -%}

      {%- if site.comments.active == 'giscus' -%}
      {%- include extensions/comments/giscus.html -%}
      {%- endif -%}

      {%- endif -%}
    </div>
    {%- endif -%}

  </section>
</div>
